/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1468px) {
	#home .container:after,.service:nth-child(2) .img-serv:after,.service:nth-child(1) .img-serv:before,.service:nth-child(3) .img-serv:before {
		content: none;
	}
	.section-name {
		display: none;
	}
	.home {
		overflow: hidden;
	}
}
@media only screen and (max-width : 1200px) {

	#home .container{
		padding-right: 0;
		margin-right: 0;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#toaction .text span{
		display: block;
	}
	#toaction .text {
		text-align: center;
	}
	#services .service {
		flex-direction: column;
		padding-bottom: 50px;
	}
	#services .service img{
		margin: 0 auto;
		width: 75%;
	}
	.service .serv-text h3{
		text-align: center;
		padding: 20px 0 0;
	}
	#our-reviews .review {
		min-height: 250px;
	}
	#toaction .container, footer .container {
		justify-content: space-around;
	}
	#our-successes .successes-row {
		flex-direction: column;
	}
	#success1 {
		margin-right: 0px;
		margin-bottom: 30px;
	}
	#our-successes .success {
		width: 75%;
		margin: 0 auto 20px;
	}
	#our-successes {
		padding: 0 0 50px;
	}
	.img-serv {
		padding: 0;
	}
	.service:nth-child(2) .img-serv {
		padding-left: 0;
	}
	.blo-n {
		font-size: 90px;
		position: relative;
		top: 0;
	}
	.blo p {
		font-size: 14px;
	}
	.logo,.btn-free,.nav-btn {
		z-index: 2;
	}
	.nav {
		display: none;
		flex-direction: column;
		position: absolute;
		left: 0;
		right: 0;
		align-items: center;
		top: 0px;
		background: #101a36;
		z-index: 1;
		padding-top: 80px;
	}
	.nav a {
		color: #fff;
		padding: 10px;
	}
	.nav-btn {
		display: block;
	}
	.logo {
		width: 60%;
	}
	#toaction .text {
		font-size: 14px;
	}
	.order a, .btn-talk a, #quote-ok {
		font-size: 14px;
	}
	.btn-talk a {
		padding: 18px 45px;
	}
	#our-reviews .review p {
		font-size: 14px;
	}
	.nav a {
		display: block;
		text-align: center;
	}
	#our-reviews .reviews-row,.blocks{
		display: block;
		width: 75%;
		margin: 0 auto;
	}
	.blo{
		max-width: initial;
		position: initial;
		padding-bottom: 20px;
	}
	#our-reviews .review {
		min-height: 150px;
		padding-bottom: 20px;
	}
	#our-reviews .review.centre {
		padding: initial;
	}
	#blocks {
		padding: 50px 0;
	}
	#our-works .works-row {
		flex-direction: column;
		align-items: center;
	}
	#our-works .container {
		display: flex;
		justify-content: center;
	}
	#our-works .work {
		width: initial;
	}
	#our-works {
		padding: 0px 0 50px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.home img {
		left: 0;
	}
	#home h1, #home .home-txt,#home .h1-under {
		color: #fff;
		background: none;
		-webkit-text-fill-color: inherit;
	}
	#home .container {
		padding-left: 0;
		margin-left: 0;
	}
	#home .h1-main h1 {
		font-size: 80px;
	}
	#development .h1-main h1,#advertising .h1-main h1 {
		font-size: 62px;
	}
	.home .order {
		margin-bottom: 20px;
	}
	.logo {
		width: 50%;
	}
	#our-reviews .review p {
		font-size: 13px;
	}
	.before-after {
		flex-direction: column;
	}
	.before-after div {
		width: 100%;
	}
	.before-after div:first-child {
		padding-right: 0px;
	}
	#toaction .container {
		flex-direction: column;
	}
	#popup-form .x3 {
		flex-direction: column;
	}
	#popup-form .x3 .form-item {
		width: 100%;
	}
	.form-item input {
		margin-bottom: 10px;
	}
	#our-works .work {
		padding: 20px 20px;
	}
}

@media only screen and (max-width : 565px) {
	#home .h1-main h1 {
		font-size: 65px;
	}
	#development .h1-main h1,#advertising .h1-main h1 {
		font-size: 53px;
	}
	#services .service img {
		width: 100%;
	}
	.logo {
		width: 40%;
	}
	.home-txt {
		font-size: 14px;
	}
	footer {
		font-size: 11px;
		height: 100px;
	}
	footer .container {
		flex-direction: column;
	}
	#our-successes .success p span {
		font-size: 20px;
	}
	#popup-sucdetails .sucdetails,.before-after {
		font-size: 13px;
	}
	.copyrights {
		padding: 10px 0;
	}
	.home {
		padding: 0 30px;
	}
	#home .order {
		text-align: center;
	}
	.work-description p {
		font-size: 14px;
	}
	#our-works .work {
		height: 270px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	#home .h1-main h1 {
		font-size: 48px;
	}
	.h1-under {
		font-size: 20px;
	}
	.order {
		margin: 10px auto 0;
	}
	.success {
		text-align: center;
	}
	.details {
		flex-wrap: wrap;
	}
	.details p {
		width: 33%;

	}
	#popup-sucdetails .popup .order {
		padding: 30px 0;
	}
	#popup-sucdetails .order a {
		padding: 17px 18px;
		font-size: 13px;
	}
	#popup-form .popup, #popup-thanks .popup, #popup-sucdetails .popup {
		width: 75%;
	}
	#popup-form p {
		font-size: 15px;
	}
	.form-item span,.form-item textarea,.form-item input {
		font-size: 14px;
	}
	.btn-free {
		display: none;
	}
	#home .h1-main h1 {
		font-size: 40px;
	}
	#development .h1-main h1,#advertising .h1-main h1 {
		font-size: 35px;
	}
	.home {
		padding: 0 20px;
	}
	#our-successes .success p span {
		font-size: 18px;
	}
	#our-works .work {
		height: 230px;
	}
	.work-description p {
		font-size: 11px;
	}
	#our-works .work h4 {
		font-size: 12px;
	}
	#our-works .order a {
		padding: 13px 10px;
		font-size: 13px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}